w@charset "utf-8";
/* CSS Document */
#map{
	position: absolute;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 100%;
	left: 498px;
	top: 147px;
}

#leftmap{
	position:absolute;
	width:200px;
	height:600px;
	left:10%;
	top:10%;
	border:2px solid #666;
	background-image:url(lrmap.jpg);
	background-size:cover;
}

.leftbox{
	box-shadow:5px 5px 5px #333;
}

#showlevel{
	text-align:center;
	width:160px;
	height:100px;
	margin-top:50px;
	margin-left:20px;
	background-color:rgba(0,0,0,0.5);
	font-family:"钟齐流江硬笔草体";
	color:#FFF;
	font-size:28px;
	line-height:100px;
}

#second{
	text-align:center;
	width:160px;
	height:100px;
	margin-top:50px;
	margin-left:20px;
	background-color:rgba(0,0,0,0.5);
	font-family:"钟齐流江硬笔草体","微软雅黑";
	color:#FFF;
	font-size:28px;
	line-height:100px;
}

#showproperty{
	text-align:center;
	width:160px;
	height:200px;
	margin-top:50px;
	margin-left:20px;
	padding-top:10px;
	background-color:rgba(0,0,0,0.5);
}

#monsterproperty{
	text-align:center;
	width:160px;
	height:50px;
	margin-top:50px;
	margin-left:20px;
	padding-bottom:12px;
	padding-top:10px;
	background-color:rgba(0,0,0,0.5);
}

#showkey{
	text-align:left;
	width:160px;
	height:100px;
	margin-top:50px;
	margin-left:20px;
	background-color:rgba(0,0,0,0.5);
}

.key{
	margin-top:7px;
	margin-left:10px;
}

#keybg1{
	position: absolute;
	background-color: rgba(96,176,249,0.5);
	top:469px;
	left:65px;
	width:90px;
	height:30px;
	font-family:"方正启体简体";
	border-radius:10px;
	text-align:center;
	line-height:30px;
}

#keybg2{
	position:absolute;
	top:521px;
	left:65px;
	background-color: rgba(251,132,135,0.5);
	width:90px;
	height:30px;
	font-family:"方正启体简体";
	border-radius:10px;
	text-align:center;
	line-height:31px;
}

.prop{
	text-align:left;
	font-family:"方正启体简体";
	background-color:rgba(255,255,255,0.5);
	width:130px;
	height:30px;
	margin-top:12.5px;
	margin-left:15px;
	border:1px #CCC solid;
	border-radius:10px;
	line-height:30px;
	left: 73px;
	top: 538px;
}	

#rightmap{
	position:absolute;
	left:1000px;
	top:10%;
	width:200px;
	height:600px;
	border:2px solid #666;
	background-image:url(lrmap.jpg);
	background-size:cover;
}

#mainmap{
	position:absolute;
	left:370px;
	top:10%;
	
	border:2px solid #666;
}

#foot{
	text-align:center;
	position:absolute;
	width:100%;
	height:10px;
	bottom:0;
}

#head{
	text-align:center;
	position:absolute;
	width:100%;
	height:20px;
	top:0;
}

input[type="button"] {
    background: #856363;
	border-radius: 200px;
    border: none;
    padding: 5px 5px;
    color: white;
    font-size: 20px;
	height:60px;
	width:70px;
	text-align:center;
	font-family:"方正启体简体";
	line-height:60px;
	cursor:pointer;
}
.anniu:hover {background: #e9c2a6}
#nextlevel{
	position:absolute;
	top:15%;
	left:270px;	
	width:800px;
	height:450px;
	/*border:2px solid #0F0;
	border-radius:20px;*/
	z-index:5555; 
}

#levelup{
	position:absolute;
	/*border:2px solid #00F;
	border-radius:20px;*/
}

#buttonp{
	position:absolute;
	top:70%;
	left:270px;	
	text-align:center;
}

#choice{
	position:absolute;
	top:15%;
	left:270px;	
	width:800px;
	height:450px;
	z-index:5555;
	/*background-image:url(15.jpg);*/
	background-color:rgba(256,256,256,0.5);
	background-size:cover;
	border-radius:20px;
}

#p1{
	position:absolute;
	top:35%;
	left:35px;
	width:100px;
	height:100px;
	z-index:5555;
}

#p2{
	position:absolute;
	top:35%;
	left:680px;	
	width:100px;
	height:100px;
	z-index:5555;
}

#sure{
	position:absolute;
	top:85%;
	left:350px;	
	width:150px;
	height:30px;
	z-index:5555;
	line-height:27px;
	cursor:pointer;
}

.ch{
	position:absolute;
}



#start{
	position:absolute;
	top:0%;
	left:70px;	
	width:1200px;
	height:800px;
	z-index:5555;
	background-image:url(start.jpg);
	background-size:cover;
	border-radius:20px;
}
.startbox{
	position:relative;
	text-align:center;
	width:120px;
	height:40px;
	left:547px;
	line-height:40px;
	font-size:30px;
	font-family:"書體坊顏體㊣";
	cursor:pointer;
}
#startbox1{
	top:85px;
}

#startbox2{
	top:95px;
}

#startbox3{
	top:105px;
}

#startbox4{
	top:115px;
}

#instruction{
	background-color:rgba(0,0,0,0.7);
	border-radius:20px;
	height:440px;
	width:600px;
	position:absolute;
	top:5px;
	left:100px;
	font-family:"方正启体简体";
	font-size:20px;
	color:#FFF;
	z-index:6666;
	overflow:auto;
}

#sure2{
	position:fixed;
	top:470px;
	left:740px;	
	width:150px;
	height:30px;
	z-index:6666;
	line-height:27px;
	cursor:pointer;
}

#canvasContainer{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:6666;
}

#textInputSpan{
  position: absolute;
  top:0;
  height:300px;
  width:500px;
  color: #FFFFFF;
  font-family:"幼圆";
}